{{- $params := .Scratch.Get "params" -}}

<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">

<meta name="theme-color" content="#f8f8f8">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2860780921894189"
     crossorigin="anonymous"></script>
{{- with .Site.Params.app.tileColor -}}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.social.Twitter -}}
<meta name="twitter:creator" content="@{{ . }}" />
{{- end -}}
